@charset 'utf-8';

/* con1 css */
.con1 {height:500px; background-image: url("../img/sub-banner09.jpg"); background-repeat:no-repeat; background-size:cover; background-position:top 60px center;}

/* fixed sub */
.con2 {position: relative; height:auto;}
.fixed-sub {width:300px; background-color: #fff;
            position: absolute; left:0; top:0;}
.title-area {width:100%; text-align: center; margin-bottom:86px;}
.title-area h2 {margin-top:80px; font-size:30px; color:#666;}
.title-area p {font-size:14px; color:#4d6877; margin-top:10px;}

.sub-bar {width:100%;}
.sub-bar li {width:100%; height:72px; line-height:72px; text-align:center; background-color: #fff;
             border-top:1px solid #ebebeb; border-bottom:1px solid #ebebeb;}

.sub-bar li a {display:block; color:#378367;}
.sub-bar li.on {background-color: #378367;}
.sub-bar li.on a {color:#fff;}

/* main : 여기다가 하면 됨 */
.main {width:1200px; margin:0 auto;  text-align:center; margin-bottom:200px; }
.main > h3 { font-size:30px; color:#666; text-align:center; padding-top:80px;}
.main > p {font-size:14px; color:#4d6877; text-align: center; padding-top:10px;}

.main > img {margin:50px 0;}

.main .text {text-align:left; width:837px; margin:0 auto;}
.main .text > div {margin-bottom:40px;}
.main .text .text1 > div {float:left;}
.main .text .text1 > div:nth-child(1) {line-height: 20px; width:100px;}
.main .text .text1 > div:nth-child(2) {margin-left:30px;}
.main .text .text1 h4 {color:#666; font-size:22px; }
.main .text .text1 h5 {color:#7d909b; font-size:14px; }
.main .text .text1 p {color:#666; font-size:16px; line-height: 20px; }
.main .text .text1 p span {color:#5f9c85;}



















